<!-- Two Choices  -->
  <div class="container" id="CHANGEID" hidden>
    <div class="row"><div class="box"> <div class="col-lg-12" >
        <p>
          
        </p>
    </div> </div></div>

    <div class='row text-center'>
        <div class = 'col-sm-6'>
        <button onclick="myFunction('CURRENT','NEXT')" class="btn btn-primary btn-default btn-lg ">ENTERLEFT</button>
        </div>
        <div class = 'col-sm-6'>
        <button onclick="myFunction('CURRENT','NEXT')" class="btn btn-primary btn-default btn-lg ">ENTERRIGHT</button>
        </div>
    </div>
  </div>

<!--One Choice --> 
  <div class="container" id='CHANGEID' hidden> 
    <div class="row"> <div class="box"> <div class="col-lg-12" > 
        <p>

        </p> 
    </div> </div> </div>

    <div class="text-center">
    <a onclick="myFunction('CURRENT','NEXT')"type="button" class="btn btn-primary btn-default btn-lg">BUTTONTEXT</a> 
    </div>
  </div>

<!-- Random One Choice --> 
  <div class="container" id='CHANGEID' hidden> 
    <div> <div class = "row"> <div class = "box"> <div class="col-lg-12" > 
        <p>
          
        </p> 
    </div></div> </div> </div>

    <div class="text-center">
    <a onclick="randFunc('CURRENT','NEXT1', 'NEXT2')"type="button" class="btn btn-primary btn-default btn-lg">Continuar</a> 
    </div>
  </div>

<!-- Three Choices  -->
  <div class="container" id="CHANGEID" hidden>
    <div class="row"><div class="box"> <div class="col-lg-12" >
        <p>
          
        </p>
    </div> </div></div>

    <div class='row text-center'>
        <div class = 'col-sm-4'>
        <button onclick="myFunction('CURRENT','NEXT')" class="btn btn-primary btn-default btn-lg ">ENTERLEFT</button>
        </div>
        <div class = 'col-sm-4'>
        <button onclick="myFunction('CURRENT','NEXT')" class="btn btn-primary btn-default btn-lg ">ENTERRIGHT</button>
        </div>
        <div class = 'col-sm-4'>
        <button onclick="myFunction('CURRENT','NEXT')" class="btn btn-primary btn-default btn-lg ">ENTERRIGHT</button>
        </div>
    </div>
  </div>

<!-- End Game --> 
  <div class="container" id='CHANGEID' hidden> 
    <div class="row"> <div class="box"> <div class="col-lg-12" > 
        <p>
          
        </p> 
    </div> </div> </div>

    <div class="row text-center"> <div class="box"> <div class="col-lg-12" > 
      <h3> 
        ¡El fin! 
      </h3>
    </div> </div> </div>

    <div class="text-center">
    <a href='/' type="button" class="btn btn-primary btn-default btn-lg">Regresar al comienzo</a> 
    </div>
  </div>














    background: url('../img/bg3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}