{% extends "base.html" %}

{% block content %}
<h1>¡Hola Nieta! </h1>
<div class = 'container'>
<div class='tree'>
  <ul>
    <li>
      <a href="">Usted es una joven de quince años.</a>
      <ul>
        <li>
          <a href="">Sospecha que es adoptado</a>
          <ul>
            <li>
              <a href="">Habla con sus padres</a>
              <ul>
                <li>
                  <a href="">Ellos niegan el idea</a>
                  <ul>
                    <li>
                      <a href="">Para su búsqueda para el momento</a>
                      <ul>
                        <li>
                          <a href="">Un juez llega a su casa (regresa a la otra opción)</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="">Continuar la investigación</a>
                      <ul>
                        <li>
                          <a href="">Hace un examen de ADN</a>
                        </li>
                        <li>
                          <a href="">No hace un examen de ADN</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">Confesan, pero dice que fue legal</a>
                  <ul>
                    <li>
                      <a href="">Insiste que comparten más información</a>
                    </li>
                    <li>
                      <a href="">Decide buscar otros recursos</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="">Habla con sus amigos</a>
              <ul>
                <li>
                  <a href="">Hacer el examen de ADN en secreto</a>
                  <ul>
                    <li>
                      <a href="">NO es la hija biológica de sus padres</a>
                      <ul>
                        <li>
                          <a href="">Conectan con abuelas</a>
                          <ul>
                            <li>
                              <a href="">Miran por fotos para identificar padres posibles</a>
                              <ul>
                                <li>
                                  <a href="">Encuentra una familia</a>
                                </li>
                                <li>
                                  <a href="">No encuentra una familia</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="">Halba con sus padres</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="">ES la hija biológica de sus padres</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="">Un juez llega a su casa</a>
          <ul>
            <li>
              <a href="">Ir con paz</a>
              <ul>
                <li>
                  <a href="">Sigue instrucciones</a>
                  <ul>
                    <li>
                      <a href="">Vive con su abuela</a>
                      <ul>
                        <li>
                          <a href="">No siempre llevarse bien</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="">Regresa a casa</a>
                  <ul>
                    <li>
                      <a href="">Culpa a padres de crianza</a>
                    </li>
                    <li>
                      <a href="">Crea que padres son inocentes</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="">No</a>
              <ul>
                <li>
                  <a href="">La primera interacción con sus padres</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
</div>

{% endblock %}