{% extends "base.html" %}

{% block content %}
<h1>¡Hola Padres!</h1>
<div class = 'tree'>
  <ul>
    <li>
      <a href="">Ustedes son los padres de una joven de quince años.</a>
      <ul>
        <li>
          <a href="">Ella no sabe que es adoptada</a>
          <ul>
            <li>
              <a href="">Un juez llega a su casa</a>
              <ul>
                <li>
                  <a href="">Comparte la veradad</a>
                </li>
                <li>
                  <a href="">Esconde su hija</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="">Ella empieza a preguntarse</a>
              <ul>
                <li>
                  <a href="">Le dice que es adoptada</a>
                </li>
                <li>
                  <a href="">Mantiene que es su hija biológica</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="">Ella sabe que es adoptada</a>
          <ul>
            <li>
              <a href="">Un juez llega a su casa</a>
              <ul>
                <li>
                  <a href="">Comparte la veradad</a>
                </li>
                <li>
                  <a href="">Esconde su hija</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="">Ella empieza a preguntarse</a>
              <ul>
                <li>
                  <a href="">Crea una historia sobre sus padres</a>
                </li>
                <li>
                  <a href="">Comparte parte de la verdad</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
{% endblock %}